@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

#page-top {
  background-color: #161a1d !important;
}

.btn-login {
  background-color: #248277;
  font-size: 14px !important;
  transition: 0.3s;
  height: 40px;
  width: 150px;
  border-radius: 12px !important;
}

.btn-login:hover {
  background: #145b53;
}

select,
option {
  cursor: pointer !important;
}

select {
  width: 100px !important;
}

.card {
  background: #40413f !important;
  cursor: pointer;
  transition: 0.3s;
}

.banner {
  background-image: url(./images/banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: max-content;
  background-position: center center;
}

.card-title {
  font-size: 1rem;
  font-weight: 500;
}

.details {
  background: #248277;
  border-radius: 1rem;
  margin-top: -16px !important;
}

.quantity {
  background: #fff;
  color: #248277;
  font-size: 24px !important;
  font-weight: 600 !important;
  width: 90px;
  height: 90px;
  max-width: 200px;
  max-height: 200px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.detail p {
  font-size: 18px;
  font-weight: 500;
}

option {
  color: #000 !important;
}

.card:not(.product-card):hover {
  background: #fff !important;
}

.card:not(.product-card):hover > img {
  background: #248277 !important;
  fill: #248277 !important;
}
.card:not(.product-card):hover .card-title {
  color: #248277 !important;
}

.icon-img {
  width: 60px;
  height: 60px;
  object-fit: contain;
}

.nav-right button,
.nav-right select {
  font-size: 13px;
}

.nav-right button:hover {
  background: #fff !important;
  color: #248277 !important;
  font-weight: 600 !important;
}

.nav-right button {
  font-weight: 500 !important;
}

.other-news {
  background: #40413f;
  min-height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 270px;
  margin: auto;
}

.product-card img {
  width: 170px;
  height: 170px;
}

.product-card {
  background-color: #40413f !important;
  cursor: pointer;
  min-height: 200px;
}

.arrow {
  width: 25px !important;
  height: 13px !important;
}

.companies {
  background: #333;
}

.news {
  cursor: pointer;
}

.location-1 {
  background-color: #2a4365;
  min-height: 200px;
}

.location-2 {
  min-height: 200px;
  background: #fff7ca;
}

.news-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(205px, 1fr));
  gap: 1rem;
}

@media (max-width: 500px) {
  .info_container {
    flex-direction: column;
  }

  .btn-login,
  select {
    width: 100% !important;
    display: block !important;
    margin: 1rem 0;
  }

  .nav-right button {
    width: 100% !important;
    display: block !important;
    margin-bottom: 1rem;
  }

  .nav-right {
    padding-top: 1rem;
  }
}

@media (min-width: 960px) {
  .product-card {
    max-width: 270px;
  }
}
